# Default owners.
* @Jackson57279 @dogesman098

/.github/ @Jackson57279 @dogesman098
/AGENTS.md @Jackson57279 @dogesman098
/Makefile @Jackson57279 @dogesman098

/oxidize-c/ @Jackson57279 @dogesman098
/oxidize-tui/ @Jackson57279 @dogesman098

/Dockerfile.* @Jackson57279 @dogesman098
/scripts/ @Jackson57279 @dogesman098
/docs/ @Jackson57279 @dogesman098
